<div class="row">
  <div class="col-md-12 blog-main">
    <div class="blog-post">
      <h2 class="blog-post-title">Bem vindo!</h2>
      <p>Para iniciar a importação do Arquivo CNAB, clique no menu Importar.</p>
    </div>
  </div>
</div>
