<div class="row">
  <div class="col-md-12 blog-main">
    <div class="blog-post">
      <h2 class="blog-post-title">Importar CNAB</h2>
      
      <%= render 'form'%>
      
    </div>
  </div>
</div>
